.rotate-simple {
    animation: rotate 12s infinite;
    animation-timing-function: ease-in-out;
}
.bounce-simple {
    animation: bounce 8s infinite;
    animation-timing-function: ease-in-out;
}
.falling-leaf {
    /* width: 25px; */
    /* height: 25px; */
    width: 3vw;
    height: auto;
    position: absolute;
    top: 0;
    animation: fall 22s infinite, sway 12s infinite;
    animation-fill-mode: both;
    animation-timing-function: linear, ease-in-out;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    16.6% {
        transform: rotate(-120deg);
    }
    33.3% {
        transform: rotate(-120deg);
    }
    50% {
        transform: rotate(-240deg);
    }
    66.6% {
        transform: rotate(-240deg);
    }
    83.3% {
        transform: rotate(-360deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
@keyframes bounce {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-50%);
    }
    50% {
        transform: translateX(-50%);
    }
    75% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes sway {
    0% {
        transform: translateX(0) rotate(0deg);
        animation-timing-function: ease-in-out;
    }
    25% {
        transform: translateX(30vw) rotate(-35deg);
        animation-timing-function: ease-in-out;
    }
    50% {
        /* transform: translateX(0) rotate(-10deg); */
        /* animation-timing-function: ease-in-out; */
    }
    75% {
        transform: translateX(-25vw) rotate(15deg);
        animation-timing-function: ease-in-out;
    }
    100% {
        /* transform: translateX(0) rotate(15deg); */
        /* animation-timing-function: ease-in-out; */
    }
}
@keyframes fall {
    0% {
        margin-top: 0;
        opacity: 0;
    }
    1% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        margin-top: 100vh;
        opacity: 0;
    }
}