/* Image Animations */
#htmlcssjs {
    margin: 8% 0 0 -50%;
    height: 200%;
    width: auto;
}
#nodereact {
    /* margin: 8% 0 0 -50%; */
    height: 100%;
    width: auto;
}
/* Generic Styling */
html {
    scroll-behavior: smooth;
}
section, div, p, a {
    font-family: 'Montserrat', sans-serif;
    font-size: 110%;
}
body, h2 {
    margin: 0;
}
.d-none {
    display: none;
}
.font-200 {
    font-size: 200%;
}
.cursive {
    font-family: 'Lacquer', cursive;
}
.mt-0 {
    margin-top: 0;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
.flex-reverse {
    display: flex;
    flex-wrap: wrap-reverse;
}
.text-centre {
    text-align: center;
}
/* Image styles */
.auto-img {
    height: 100%;
    width: auto;
}
.nav-img {
    height: 100px;
    width: auto;
    margin: 0 2.5vw;
}
.mw-img {
    max-width: 400px;
}
.hide-overflow {
    overflow: hidden;
}
.hide-overflow-x {
    overflow-x: hidden;
}
.mb-minus {
    margin-bottom: -50px
}
.content {
    /* display: flex; */
    margin: 0 0;
    padding: 16px;
}
.p-16 {
    padding: 16px 0;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.fixed-box {
    height: 150px;
    width: 150px;
}
.round {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.sub-section {
    margin: 2em calc(2em + 5vw);
}
.pointer {
    cursor: pointer;
}
/* Section Styling */
section {
    /* min-height: 100vh; */
    min-height: calc(100vh - 100px);
}
section:nth-child(odd) {
    background-color: #e0ebe8;
    background-image: url("https://www.transparenttextures.com/patterns/egg-shell.png");
}
section:nth-child(even) {
    /* background-color: #03506f; */
    /* background-color: #a3ddcb; */
    background-color: #e0ebe8;
    background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
}
/* Style the navbar */
.navbar {
    background-color: #e0ebe8;
    background-image: url("https://www.transparenttextures.com/patterns/gplay.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    z-index: 999;
}
.navbar, .nav-offset {
    height: 100px;
}
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}
.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}
a {
    display: block;
    color: #020202;
    text-align: center;
    text-decoration: none;
    margin: 16px 0;
    font-weight: bold;
}